body {
  color: #53585F;
  margin: 0;
  font-family: 'HelvNeueLightforIBM', Sans-Serif;
}

.tv-container {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.tv-header {
  background: #016131;
  color: white;
}

.tv-header h1 {
  border-bottom: 2px solid white;
  display: inline-block;
  margin: 0;
  font-size: 1.8em;
  font-family: 'LubalinBookforIBM', Sans-Serif;
}

.tv-header .fa {
  margin-left: 12px;
}

.tv-tv {
  background: #F2F2F2;
}

.tv-translation {

}
